:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57; 
    --branco: #b64747; 
    --botao-ativo: #3A375E; 
    --botao-inativo: rgba(58, 55, 94, 0.5); 
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

@import url(‘https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@40;700&display=swap’);

.body {
    background-color: var(#1E1E1E);
    color: var(rgba(58, 55, 94, 0.3)); 
    font-family: ‘Chakra Petch’, sans-serif;
}

.conteudo-principal { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal { 
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(#6FFF57);
}

.botao { 
    font-family: «Crakra Petch», sans-serif;
    background-color: var(rgba(58, 55, 94, 0.5));
    color: var(rgba(58, 55, 94, 0.3)); 
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(#3A375E);
    border-left: 2px solid var(#3A375E); 
    border-right: 2px solid var(#3A375E);
    border-top: none;
}

.botoes {
    display: block;
}
@media screen and (min-width: 768px) { 
.botoes { 
    display: flex;
    }
}

.botao:first-child { 
    border-radius: 40px 0 0 0;
}

.botao:last-child { 
    border-radius: 0 40px 0 0;
}